<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
  </configSections>
  <!--<RewriterConfig>
    <Rules>
      -->
  <!-- Rules for Blog Content Displayer -->
  <!--
      <RewriterRule>
        <LookFor>~/(.[0-9]*)\.html</LookFor>
        <SendTo>~/ArticleDetail.aspx?MyID=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>-->
  <!--<httpHandlers>
    <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
    <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
  </httpHandlers>-->
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=YunShanOA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="YunShanOAConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=YunShanOA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="commomEmail" value="yunshanoa@163.com"/>
    <add key="emailPassword" value="p@ssword"/>
    <add key="smtpServer" value="smtp.163.com"/>
    <add key="userName" value="yunshanoa@163.com"/>
    <add key="port" value="25"/>

    <add key="connectionstring" value="Data Source=.\SQLEXPRESS;Initial Catalog=YunShanOA;Integrated Security=True"/>
    <!-- SQL缓存的配置的名字 -->
    <add key="CacheDatabaseName" value="mySqlCache"/>
    <!--这里写的是按照那一种方式设置缓存的机制，每一种方式代表的几张表-->
    <add key="CarTableDependency" value="可以写下有关的表，用逗号隔开"/>
    <add key="MeetingApplyFormTableDependency" value="MeetingAndRoom,MeetingAndEquipment,MeetingAndUser,ReviewMeetingApply"/>
    <add key="****TableDependency" value="可以写下有关的表，用逗号隔开"/>
    <!-- 是否启用缓存 -->
    <add key="EnableCaching" value="true"/>
    <!-- TimeOut长度 -->
    <add key="CarCacheDuration" value="12"/>
    <add key="MeetingApplyFormCacheDuration" value="12"/>
    <add key="***CacheDuration" value="12"/>
    <!-- 要加载的缓存相关类库 -->
    <add key="CacheDependencyAssembly" value="YunShanOA.TableCacheDependency"/>
    <add key="SqlServerDataAccess" value="YunShanOA.DataAccess"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="200000"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/share/error.aspx"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880">
        
      </forms>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <!-- 缓存的配置-->
    <caching>
      <outputCache enableOutputCache="true"/>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="myPageCache" duration="10" enabled="true"/>
        </outputCacheProfiles>
      </outputCacheSettings>
      <!-- SQL缓存依赖配置-->
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="mySqlCache" connectionStringName="ApplicationServices"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
